main{
  display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(9, 120px);
   grid-template-areas: 
   "a a b c"
   "d e f g"
   "d e h i"
   "j k k l"
   "m k k n"
   "o p p q"
   "r r r r"
   "s t t u"
   "v t t w";
   gap: 20px;
}
article{
    background-color: yellowgreen;
}
article:nth-of-type(1){
    grid-area: a;
}
article:nth-of-type(2){
    grid-area: b;
}
article:nth-of-type(3){
    grid-area: c;
}
article:nth-of-type(4){
    grid-area: d;
}
article:nth-of-type(5){
    grid-area: e;
}
article:nth-of-type(6){
    grid-area: f;
}
article:nth-of-type(7){
    grid-area: g;
}
article:nth-of-type(8){
    grid-area: h;
}
article:nth-of-type(9){
    grid-area: i;
}
article:nth-of-type(10){
    grid-area: j;
}
article:nth-of-type(11){
    grid-area: k;
}
article:nth-of-type(12){
    grid-area: l;
}
article:nth-of-type(13){
    grid-area: m;
}
article:nth-of-type(14){
    grid-area: n;
}
article:nth-of-type(15){
    grid-area: o;
}
article:nth-of-type(16){
    grid-area: p;
}
article:nth-of-type(17){
    grid-area: q;
}
article:nth-of-type(18){
    grid-area: r;
}
article:nth-of-type(19){
    grid-area: s;
}
article:nth-of-type(20){
    grid-area: t;
}
article:nth-of-type(21){
    grid-area: u;
}
article:nth-of-type(22){
    grid-area: v;
}
article:nth-of-type(23){
    grid-area: w;
}
article :nth-child(1)
